{% extends 'MsiStoreBundle::layout.html.twig' %}

{% block title %}{{ 'Payment'|trans }}{% endblock title %}

{% block content %}
salut paye moi
<form action="{{ path('msi_store_checkout_payment') }}" method="POST"><button type=submit>Submit</button></form>
{% endblock content %}
